* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
}



html {
    width: 1300px;
}

body {
    height: 3000px;
    margin: 0 auto;
    padding: 0;
    background-color: #000;
}


.header_video {
    position: relative;
    overflow: hidden;
    filter: brightness(50%);
    width: 100%;
    bottom: 15%;
}

.main_header {
    z-index: 10;
    position: relative;
    font-family: 'Abril Fatface';
    font-size: 80px;
    color: white;
    text-align: center;
    width: 100%;
    height: 240px;
    line-height: 240px;
    top: 3%;
}

#header_nav {
    z-index: 10;
    position: relative;
    width: 100%;
    height: 48px;
    line-height: 48px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
}

ul li {
    position: relative;
    float: left;
    color: white;
    list-style: none;
    padding: 0 20px;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    left: 31%;
}

a {
    color: #fff;
}

.p_Mainheader {
    position: relative;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 48px;
    text-align: center;
    bottom: 13%;
}

.Sunflowers {
    position: relative;
    bottom: 200px;
    width: 200px;
    text-align: center;
    right: 40px;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
}

.Sunflowers:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.p_Sunflowers {
    position: relative;
    width: 300px;
    color:#fff;
    opacity: 0;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    left: 280px;
    bottom: 200px;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -o-transition-duration: 2s;
}

.Sunflowers:hover .p_Sunflowers {
    -webkit-transform: scale(1.3), translateY(-200%);
    -moz-transform: scale(1.3), translateY(-200%);
    -ms-transform: scale(1.3), translateY(-200%);
    -o-transform: scale(1.3), translateY(-200%);
    transform: scale(1.3), translateY(-200%);
    transition-delay: 1.5s;
    transition-duration: 1.5s;
    opacity: 1;
    color:#fff;
}

.Monarisa {
    position: relative;
    bottom: 100px;
    width: 200px;
    text-align: center;
    right: 40px;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
}

.Monarisa:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.p_Monarisa {
    position: relative;
    left: 280px;
    bottom: 250px;
    width: 300px;
    color:#fff;
    opacity: 0;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -o-transition-duration: 2s;
}

.Monarisa:hover .p_Monarisa {
    -webkit-transform: scale(1.3), translateY(-200%);
    -moz-transform: scale(1.3), translateY(-200%);
    -ms-transform: scale(1.3), translateY(-200%);
    -o-transform: scale(1.3), translateY(-200%);
    transform: scale(1.3), translateY(-200%);
    transition-delay: 1.5s;
    transition-duration: 1.5s;
    opacity: 1;
    color:#fff;
}